<nav class="main-nav" style="z-index: 999">
  <div class="nav-wrapper grey lighten-3 black-text">
    <div class="container">
      <a href="#" class="brand-logo"><img style="height: 60px; padding: 4px 0;" src="assets/img/logo-mds-small.png" alt=""></a>  
      <a href="#" data-target="slide-out-menu" class="button-collapse sidenav-trigger hide-on-large-only"><i class="material-icons mdsorange-text">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#!" class="dropdown-trigger mdsorange-text" data-target="we_dropdown" style="font-size: 25px; font-weight: bold; ">Wir</a></li>       
          <ul id="we_dropdown" class="dropdown-content">
              <li><a href="#!">News</a></li>
              <li><a href="#!">Referenzen</a></li>
              <li><a href="#!">Über uns</a></li>
              <li><a href="#!">Unsere Partner</a></li>
              <li><a href="#!">Kontakt & Impressum</a></li>
          </ul> 
          <li><a href="#!" class="dropdown-trigger mdsorange-text" data-target="offer_dropdown" style="font-size: 25px; font-weight: bold; ">bieten</a></li>       
          <ul id="offer_dropdown" class="dropdown-content">
              <li><a href="#!">Veranstaltungsmanagement</a></li>
              <li><a href="#!">Facility Management</a></li>
              <li><a href="#!">Business Intelligence</a></li>
              <li><a href="#!">Hosting</a></li>
              <li><a href="#!">Dienstleistungen</a></li>
          </ul>
          <li><a href="#!" class="dropdown-trigger mdsorange-text" data-target="solutions_dropdown" style="font-size: 25px; font-weight: bold; ">Lösungen</a></li>       
          <ul id="solutions_dropdown" class="dropdown-content">
              <li><a href="#!">Facility Management</a></li>
              <li><a href="#!">Veranstaltungs</a></li>
              <li><a href="#!">Konzerthäuser</a></li>
              <li><a href="#!">Orchester & Ensembles</a></li>
              <li><a href="#!">Festivals & Veranstalter</a></li>
          </ul>
        </ul>
      </div>
  </div>
</nav>

<script>
    var BannerHeight = document.getElementById('BannerHeight').clientHeight;

    var elem = document.querySelector('.main-nav');
    var instance = M.Pushpin.init(elem, { top: BannerHeight });

    // var elem = document.querySelector('.dropdown-trigger');
    // var instance = M.Dropdown.init(elem, { coverTrigger: false, hover: true });
    $('.dropdown-trigger').dropdown({ coverTrigger: false, hover: true });
</script>


<!-- ############################################# -->
<!--             Mobile Side Nav                   -->
<!-- ############################################# -->
<ul id="slide-out-menu" class="sidenav">
    <li>
        <img src="assets/img/logo-mds-small.png" alt="" style="width: 100%; padding: 2% 2% 0 2%;">
    </li>
    <li class="divider"></li>
    <li class="no-padding">
        <ul class="collapsible collapsible">
            <li><a class="collapsible-header">Wir</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">Veranstaltungsmanagement</a></li>
                        <li><a href="#!">Facility Management</a></li>
                        <li><a href="#!">Business Intelligence</a></li>
                        <li><a href="#!">Hosting</a></li>
                        <li><a href="#!">Dienstleistungen</a></li>
                        <li class="divider"></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
            <ul class="collapsible collapsible">
                <li><a class="collapsible-header">bieten</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">Facility Management</a></li>
                            <li><a href="#!">Veranstaltungs</a></li>
                            <li><a href="#!">Konzerthäuser</a></li>
                            <li><a href="#!">Orchester & Ensembles</a></li>
                            <li><a href="#!">Festivals & Veranstalter</a></li>
                            <li class="divider"></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
                <ul class="collapsible collapsible">
                    <li><a class="collapsible-header">Lösungen</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#!">News</a></li>
                                <li><a href="#!">Referenzen</a></li>
                                <li><a href="#!">Über uns</a></li>
                                <li><a href="#!">Unsere Partner</a></li>
                                <li><a href="#!">Kontakt & Impressum</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
</ul>

<script>

    // Collapsible
    $('.collapsible').collapsible();

    // SideNav
    var elem = document.querySelector('.sidenav');
    var instance = M.Sidenav.init(elem);
</script>